#navbar {
  background-color: #2b97dc;
}
#toolbar {
  display: flex;
  justify-content: space-between;
}
#logo {
  height: 70px;
}
.toolbar-links {
  display: flex;
}
.toolbar-link-title {
  padding: 0px 10px;
}
.toolbar-link-title a {
  color: #fff;
  text-decoration: none;
}
